.Form {
    background-color: aliceblue;
    width: 40%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    color: Blue;
    border-radius: 10px;
}

.but{
    margin-top: 20px;
}

.error{
    color: red;
}